.rest {
  text-decoration: line-through;
}

.hiv {
  color: rgb(52, 52, 126);
}

.outside {
  border: solid 5px;
}
.editing {
  display: inline-flex;
  height: 50;
  border: solid 2px;
  border-color: chartreuse;
}
.lbl {
  color: rgb(52, 52, 126);
  font-family: fantasy;
}

.greenlbl {
  color: brown;
}
.todo {
  height: fit-content;
  border: solid 2px;
  text-align: center;
  color: white;
  font-family: monospace;
  font-weight: bold;
  border-radius: 50px;
  background-color: #713f8f;
}

.createlbl {
  border: solid 2px;
  border-radius: 50px;
  background-color: rgb(52, 52, 126);
  color: white;
  text-align: center;
}
.register {
  width: fit-content;
  border: solid 2px;
  color: rgb(52, 52, 126);
}
.lbl small {
  font-size: medium;
  color: black;
}
.arounds {
  width: fit-content;
  border: solid 2px;
  color: rgb(52, 52, 126);
}
.add_item {
  width: fit-content;
  border: solid 2px;
  color: rgb(52, 52, 126);
}
* {
  margin: 0;
  padding: 0;
}
.imgbox {
  display: grid;
  height: 100%;
}
.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}
h6 {
  text-align: center;
}

.signup {
  color: chartreuse;
}
.login {
  color: rgb(52, 52, 126);
}
.lbls {
  color: rgb(52, 52, 126);
  font-family: cursive;
}
.lbls small {
  width: 50%;
  font-family: system-ui;
  color: red;
  font-weight: bold;
  border-radius: 50px;
}
